# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
myenv/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Other files
*.pdf
